body {
  background-color: rgb(255, 245, 216);
  margin: 0;
  height: 100vh;
}
nav {
  text-align: center;
  padding: 12px;
  background-color: aliceblue;
}

header {
  text-align: center;
  padding-inline: 30px;
  padding-block: 10px;
  background-color: bisque;
  margin: 0;
}
li {
  padding: 4px;
  margin-top: 6px;
}

figcaption {
  padding: 2px;
  margin: 4px;
}

main {
  width: 800px;
  display: block;
  margin: 32px auto;
  padding: 20px;
  background-color: rgb(254, 254, 241);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  width: 400px;
  margin: 0 auto;
  border-radius: 12px;
}

section {
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 12px auto;
}

.ingredientsContainer {
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 12px auto;
}

footer {
  background-color: bisque;
  margin: 0;
  text-align: center;
  padding: 12px;
}
